*{
    margin: 0;
    padding: 0;
}
.navBar{
    height: 60px;
    width: 100%;
    background-color: black;
    display: flex;
}
.navLogo{
    height: 100%;
    width:40%;
    display: flex;
    margin-left: -7px;
}
.navOptions{
    height: 100%;
    width:60%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.navOptions div p{
    font-size:13px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.navLogo img{
    height: 90%;
    margin-left: 40px;
}
.secondBox{
    height: 580px;
    width: 100%;
    background-color: black;
    position: relative;
}
.secondBox img{
    height: 580px;
}
.contents{
    height: 300px;
    width: 600px;
    position: absolute;
    left: 75px;
    top: 90px;
    color: white;
}
.num1{
    color: #ff0000;
}
h1{
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.buttons{
    display: flex;
    gap: 3%;
}
.Watch{
    border: none;
    height: 35px;
    width: 130px;
    background-color: #ff0000;
    color: white;
    border-radius: 20px;
    box-shadow: #ff0000 0px 5px 15px;
}
.Addlist{
    border: none;
    height: 35px;
    width: 130px;
    background-color: rgb(66, 64, 64);
    color: white;
    border-radius: 20px;
}
.icon{
    font-size: 27px;
    
}